<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenglz.mapper.BlogContentMapper">
    <resultMap id="BaseResultMap" type="com.zhenglz.entity.BlogContent">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="blog_id" jdbcType="BIGINT" property="blogId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        content,
        blog_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_blog_content
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from m_blog_content
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zhenglz.entity.BlogContent" useGeneratedKeys="true">
        insert into m_blog_content (content, blog_id)
        values (#{content,jdbcType=LONGVARCHAR}, #{blogId,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhenglz.entity.BlogContent" useGeneratedKeys="true">
        insert into m_blog_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">
                content,
            </if>
            <if test="blogId != null">
                blog_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="blogId != null">
                #{blogId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhenglz.entity.BlogContent">
        update m_blog_content
        <set>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="blogId != null">
                blog_id = #{blogId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zhenglz.entity.BlogContent">
        update m_blog_content
        set content = #{content,jdbcType=LONGVARCHAR},
            blog_id = #{blogId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>