<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenglz.mapper.MBlogMapper">
  <resultMap id="BaseResultMap" type="com.zhenglz.entity.MBlog">
    <!--@mbg.generated-->
    <!--@Table m_blog-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="content_id" jdbcType="BIGINT" property="contentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="read_number" jdbcType="BIGINT" property="readNumber" />
    <result column="like_number" jdbcType="BIGINT" property="likeNumber" />
    <result column="comment_number" jdbcType="BIGINT" property="commentNumber" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="comment_status" jdbcType="BOOLEAN" property="commentStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, title, description, content_id, create_time, update_time, read_number, 
    like_number, comment_number, `status`, comment_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from m_blog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from m_blog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zhenglz.entity.MBlog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into m_blog (user_id, title, description, 
      content_id, create_time, update_time, 
      read_number, like_number, comment_number, 
      `status`, comment_status)
    values (#{userId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{contentId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{readNumber,jdbcType=BIGINT}, #{likeNumber,jdbcType=BIGINT}, #{commentNumber,jdbcType=BIGINT}, 
      #{status,jdbcType=BOOLEAN}, #{commentStatus,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhenglz.entity.MBlog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into m_blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="contentId != null">
        content_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="readNumber != null">
        read_number,
      </if>
      <if test="likeNumber != null">
        like_number,
      </if>
      <if test="commentNumber != null">
        comment_number,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="commentStatus != null">
        comment_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readNumber != null">
        #{readNumber,jdbcType=BIGINT},
      </if>
      <if test="likeNumber != null">
        #{likeNumber,jdbcType=BIGINT},
      </if>
      <if test="commentNumber != null">
        #{commentNumber,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="commentStatus != null">
        #{commentStatus,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenglz.entity.MBlog">
    <!--@mbg.generated-->
    update m_blog
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null">
        content_id = #{contentId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readNumber != null">
        read_number = #{readNumber,jdbcType=BIGINT},
      </if>
      <if test="likeNumber != null">
        like_number = #{likeNumber,jdbcType=BIGINT},
      </if>
      <if test="commentNumber != null">
        comment_number = #{commentNumber,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="commentStatus != null">
        comment_status = #{commentStatus,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenglz.entity.MBlog">
    <!--@mbg.generated-->
    update m_blog
    set user_id = #{userId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      content_id = #{contentId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      read_number = #{readNumber,jdbcType=BIGINT},
      like_number = #{likeNumber,jdbcType=BIGINT},
      comment_number = #{commentNumber,jdbcType=BIGINT},
      `status` = #{status,jdbcType=BOOLEAN},
      comment_status = #{commentStatus,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>